<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>HW-14</display-name>
    <description>My war file</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:SpringBeans.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.otus.gromov.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/rest/admin/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>*.js</welcome-file>
        <welcome-file>*.css</welcome-file>
    </welcome-file-list>

</web-app>